html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.mainMenu {
    list-style: none;

    &--item {
        display: inline;
        margin: 3px 10px 3px 10px;

        &-link {
            text-decoration: none;
            color: $black;
        }
    }
}

.upperCaseText {
    text-transform: uppercase;
}

.topHeaderWrapper {
    height: 384px;
    width: 100%;
    background: linear-gradient(180deg, #f3f4f5 0%, #e8e8eb 100%);
    padding: 1% 10% 0% 10%;
}

.mainContent {
    width: 100%;
    background-color: $white;
}

.footer {
    width: 100%;
    background-color: #1b1f3b;
    flex-shrink: 0;
}

.mainContentWrapper {
    flex: 1 0 auto;
}

.shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.floatingWindow {
    position: absolute;
    top: 210px;
    left: 100% / 3 + 0%;
}

.giftCardSettigns {
    margin-top: 150px;
}

.mainTopNav {
    // margin-top: 20px;
}
